In [2]:
import requests
import pandas as pd

In [3]:
fs_url = 'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A005930&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701'
fs_page = requests.get(fs_url)
fs_tables = pd.read_html(fs_page.text)

In [4]:
fs_tables[0]

,IFRS(연결),2016/12,2017/12,2018/12,2019/09,전년동기,전년동기(%)
0,매출액,2018667.0,2395754.0,2437714.0,1705161.0,1845064.0,-7.6
1,매출원가,1202777.0,1292907.0,1323944.0,1086850.0,983784.0,10.5
2,매출총이익,815890.0,1102847.0,1113770.0,618311.0,861279.0,-28.2
3,판매비와관리비계산에 참여한 계정 펼치기,523484.0,566397.0,524903.0,412229.0,380419.0,8.4
4,영업이익,292407.0,536450.0,588867.0,206082.0,480861.0,-57.1
5,금융수익계산에 참여한 계정 펼치기,113856.0,97374.0,99993.0,78645.0,79034.0,-0.5
6,금융원가계산에 참여한 계정 펼치기,107066.0,89789.0,86089.0,63161.0,70217.0,-10.0
7,기타수익계산에 참여한 계정 펼치기,32383.0,30107.0,14850.0,11789.0,9152.0,28.8
8,기타비용계산에 참여한 계정 펼치기,24638.0,14196.0,11420.0,8752.0,6200.0,41.1
9,"종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기",195.0,2014.0,5398.0,2527.0,2891.0,-12.6
10,세전계속사업이익,307137.0,561960.0,611600.0,227131.0,495521.0,-54.2
11,법인세비용,79876.0,140092.0,168151.0,62012.0,136694.0,-54.6
12,계속영업이익,227261.0,421867.0,443449.0,165118.0,358827.0,-54.0
13,중단영업이익,NaN,NaN,NaN,NaN,NaN,NaN
14,당기순이익,227261.0,421867.0,443449.0,165118.0,358827.0,-54.0
15,지배주주순이익,224157.0,413446.0,438909.0,162771.0,355608.0,-54.2
16,비지배주주순이익,3104.0,8422.0,4540.0,2348.0,3219.0,-27.1

In [5]:
temp_df = fs_tables[0]
temp_df = temp_df.set_index('IFRS(연결)')
temp_df = temp_df[['2016/12','2017/12','2018/12','2019/09']]
temp_df

                                      2016/12    2017/12    2018/12    2019/09
IFRS(연결)
매출액                                 2018667.0  2395754.0  2437714.0  1705161.0
매출원가                                1202777.0  1292907.0  1323944.0  1086850.0
매출총이익                                815890.0  1102847.0  1113770.0   618311.0
판매비와관리비계산에 참여한 계정 펼치기                523484.0   566397.0   524903.0   412229.0
영업이익                                 292407.0   536450.0   588867.0   206082.0
금융수익계산에 참여한 계정 펼치기                   113856.0    97374.0    99993.0    78645.0
금융원가계산에 참여한 계정 펼치기                   107066.0    89789.0    86089.0    63161.0
기타수익계산에 참여한 계정 펼치기                    32383.0    30107.0    14850.0    11789.0
기타비용계산에 참여한 계정 펼치기                    24638.0    14196.0    11420.0     8752.0
종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기      195.0     2014.0     5398.0     2527.0
세전계속사업이익                             307137.0   561960.0   611600.0   227131.0
법인세비용                                 79876.0   140092.0   168151.0    62012.0
계속영업이익                               227261.0   421867.0   443449.0   165118.0
중단영업이익                                    NaN        NaN        NaN        NaN
당기순이익                                227261.0   421867.0   443449.0   165118.0
지배주주순이익                              224157.0   413446.0   438909.0   162771.0
비지배주주순이익                               3104.0     8422.0     4540.0     2348.0

In [6]:
temp_df = temp_df.loc[['매출액','영업이익','당기순이익']]
temp_df

            2016/12    2017/12    2018/12    2019/09
IFRS(연결)
매출액       2018667.0  2395754.0  2437714.0  1705161.0
영업이익       292407.0   536450.0   588867.0   206082.0
당기순이익      227261.0   421867.0   443449.0   165118.0

In [7]:
temp_df2 = fs_tables[2]
temp_df2 = temp_df2.set_index('IFRS(연결)')
temp_df2 = temp_df2.loc[['자산','부채','자본']]

temp_df3 = fs_tables[4]
temp_df3 = temp_df3.set_index('IFRS(연결)')
temp_df3 = temp_df3.loc[['영업활동으로인한현금흐름']]

In [8]:
fs_df = pd.concat([temp_df, temp_df2, temp_df3])
fs_df

                2016/12    2017/12    2018/12    2019/09
IFRS(연결)
매출액           2018667.0  2395754.0  2437714.0  1705161.0
영업이익           292407.0   536450.0   588867.0   206082.0
당기순이익          227261.0   421867.0   443449.0   165118.0
자산            2621743.0  3017521.0  3393572.0  3533860.0
부채             692113.0   872607.0   916041.0   899437.0
자본            1929630.0  2144914.0  2477532.0  2634422.0
영업활동으로인한현금흐름   473856.0   621620.0   670319.0   256658.0

In [41]:
def make_fs_dataframe(firm_code):
    fs_url = 'https://comp.fnguide.com/SVO2/asp/SVD_Finance.asp?pGB=1&cID=&MenuYn=Y&ReportGB=D&NewMenuID=103&stkGb=701&gicode=' + firm_code
    fs_page = requests.get(fs_url)
    fs_tables = pd.read_html(fs_page.text)
    
    temp_df = fs_tables[0]
    temp_df = temp_df.set_index(temp_df.columns[0])
    temp_df = temp_df[temp_df.columns[:4]]
    temp_df = temp_df.loc[['매출액', '영업이익', '당기순이익']]

    temp_df2 = fs_tables[2]
    temp_df2 = temp_df2.set_index(temp_df2.columns[0])
    temp_df2 = temp_df2.loc[['자산', '부채', '자본']]

    temp_df3 = fs_tables[4]
    temp_df3 = temp_df3.set_index(temp_df3.columns[0])
    temp_df3 = temp_df3.loc[['영업활동으로인한현금흐름']]

    fs_df = pd.concat([temp_df, temp_df2, temp_df3])
    
    return fs_df

In [10]:
make_fs_dataframe('A005180')

              2016/12  2017/12  2018/12  2019/09
IFRS(연결)
매출액            8132.0   8147.0   8552.0   6912.0
영업이익            372.0    347.0    393.0    472.0
당기순이익           287.0    296.0    342.0    406.0
자산             6238.0   6356.0   6539.0   7150.0
부채             1020.0   1068.0   1089.0   1407.0
자본             5218.0   5288.0   5451.0   5743.0
영업활동으로인한현금흐름    656.0    419.0    726.0    579.0

In [11]:
code = 'A005930'
fs_df = make_fs_dataframe(code)
temp_df = pd.DataFrame({code : fs_df['2016/12']})

temp_df = temp_df.T
temp_df.columns = [['2016/12']*len(fs_df), temp_df.columns]
temp_df

            2016/12                                                      \
IFRS(연결)        매출액      영업이익     당기순이익         자산        부채         자본
A005930   2018667.0  292407.0  227261.0  2621743.0  692113.0  1929630.0


IFRS(연결) 영업활동으로인한현금흐름
A005930      473856.0

In [37]:
code = 'A005930'
fs_df = make_fs_dataframe(code)

for num, col in enumerate(fs_df.columns):
    temp_df = pd.DataFrame({code : fs_df[col]})
    temp_df = temp_df.T
    temp_df.columns = [[col]*len(fs_df), temp_df.columns]
    if num == 0:
        total_df = temp_df
    else:
        total_df = pd.merge(total_df, temp_df, how='outer', left_index=True, right_index=True)

In [38]:
def change_df(firm_code, dataframe):
    for num, col in enumerate(dataframe.columns):
        temp_df = pd.DataFrame({firm_code : dataframe[col]})
        temp_df = temp_df.T
        temp_df.columns = [[col]*len(dataframe), temp_df.columns]
        if num == 0:
            total_df = temp_df
        else:
            total_df = pd.merge(total_df, temp_df, how='outer', left_index=True, right_index=True)    
    
    return total_df

In [39]:
firmcode_list = ['A005930', 'A005380', 'A035420', 'A003550', 'A034730']

for num, code in enumerate(firmcode_list):
    fs_df = make_fs_dataframe(code)
    fs_df_changed = change_df(code, fs_df)
    if num == 0 :
        total_fs = fs_df_changed
    else:
        total_fs = pd.concat([total_fs, fs_df_changed])
total_fs

            2016/12                                                       \
IFRS(연결)        매출액      영업이익     당기순이익         자산         부채         자본
A005930   2018667.0  292407.0  227261.0  2621743.0   692113.0  1929630.0
A005380    936490.0   51935.0   57197.0  1788359.0  1064914.0   723446.0
A035420     40226.0   11020.0    7591.0    63706.0    22410.0    41296.0
A003550     96739.0   13227.0   10913.0   194894.0    52694.0   142201.0
A034730    827299.0   52808.0   28225.0  1030473.0   607206.0   423267.0

                         2017/12                      ...    2018/12  \
IFRS(연결) 영업활동으로인한현금흐름        매출액      영업이익     당기순이익  ...         부채
A005930      473856.0  2395754.0  536450.0  421867.0  ...   916041.0
A005380        9970.0   963761.0   45747.0   45464.0  ...  1067597.0
A035420       11640.0    46785.0   11792.0    7701.0  ...    39321.0
A003550        8782.0   118411.0   21858.0   24356.0  ...    46714.0
A034730       91107.0   906128.0   57450.0   50665.0  ...   685691.0

                                    2019/09                                 \
IFRS(연결)         자본 영업활동으로인한현금흐름        매출액      영업이익     당기순이익         자산
A005930   2477532.0     670319.0  1705161.0  206082.0  165118.0  3533860.0
A005380    738960.0      37643.0   779223.0   24411.0   24136.0  1916699.0
A035420     59491.0       9735.0    48060.0    5367.0    2006.0   118067.0
A003550    181645.0       4949.0    49222.0   10897.0   13038.0   227723.0
A034730    508879.0      78565.0   756548.0   34551.0   23275.0  1318870.0


IFRS(연결)         부채         자본 영업활동으로인한현금흐름
A005930    899437.0  2634422.0     256658.0
A005380   1156447.0   760252.0      13206.0
A035420     53692.0    64375.0       8184.0
A003550     34374.0   193349.0       7024.0
A034730    769759.0   549112.0      59216.0

[5 rows x 28 columns]

In [15]:
firm_code = 'A035420'
fr_url = 'https://comp.fnguide.com/SVO2/asp/SVD_FinanceRatio.asp?pGB=1&cID=&MenuYn=Y&ReportGB=D&NewMenuID=104&stkGb=701&gicode=' + firm_code
fr_page = requests.get(fr_url)
fr_tables = pd.read_html(fr_page.text)
    
temp_df = fr_tables[0]
temp_df = temp_df.set_index(temp_df.columns[0])
temp_df

                          2015/12  2016/12  2017/12  2018/12  2019/09
IFRS(연결)
안정성비율                       안정성비율    안정성비율    안정성비율    안정성비율    안정성비율
유동비율계산에 참여한 계정 펼치기          156.8    232.8    207.8    205.6    164.4
당좌비율계산에 참여한 계정 펼치기          155.8    232.3    206.2    203.4    162.2
부채비율계산에 참여한 계정 펼치기           93.3     54.3     51.2     66.1     83.4
유보율계산에 참여한 계정 펼치기         19205.4  29938.4  35907.9  39562.9  42810.9
순차입금비율계산에 참여한 계정 펼치기          NaN      NaN      NaN      NaN      NaN
이자보상배율계산에 참여한 계정 펼치기        144.6    181.5   2073.9     68.7      NaN
자기자본비율계산에 참여한 계정 펼치기         51.8     64.8     66.2     60.2     54.5
성장성비율                       성장성비율    성장성비율    성장성비율    성장성비율    성장성비율
매출액증가율계산에 참여한 계정 펼치기         18.0     23.6     16.3     19.4     18.1
판매비와관리비증가율계산에 참여한 계정 펼치기     21.2     20.5     19.8     32.7     27.8
영업이익증가율계산에 참여한 계정 펼치기         9.5     32.7      7.0    -20.1    -26.4
EBITDA증가율계산에 참여한 계정 펼치기       9.3     28.3      9.5    -13.1    -26.4
EPS증가율계산에 참여한 계정 펼치기         14.2     44.5      3.2    -16.1    -36.7
수익성비율                       수익성비율    수익성비율    수익성비율    수익성비율    수익성비율
매출총이익율계산에 참여한 계정 펼치기        100.0    100.0    100.0    100.0    100.0
세전계속사업이익률계산에 참여한 계정 펼치기      25.3     28.1     25.6     19.9     10.0
영업이익률계산에 참여한 계정 펼치기          25.5     27.4     25.2     16.9     11.2
EBITDA마진율계산에 참여한 계정 펼치기      30.3     31.5     29.6     21.5     11.2
ROA계산에 참여한 계정 펼치기            13.3     14.1     10.7      7.0      2.5
ROE계산에 참여한 계정 펼치기            26.5     26.2     18.5     13.0      8.2
ROIC계산에 참여한 계정 펼치기          124.2    199.2    144.9     68.6     26.1
활동성비율                       활동성비율    활동성비율    활동성비율    활동성비율    활동성비율
총자산회전율계산에 참여한 계정 펼치기          0.8      0.8      0.7      0.6      0.6
총부채회전율계산에 참여한 계정 펼치기          1.8      1.9      1.9      1.7      1.4
총자본회전율계산에 참여한 계정 펼치기          1.6      1.3      1.0      1.0      1.0
순운전자본회전율계산에 참여한 계정 펼치기        NaN      NaN      NaN      NaN      NaN

In [16]:
def make_fr_dataframe(firm_code):
    fr_url = 'https://comp.fnguide.com/SVO2/asp/SVD_FinanceRatio.asp?pGB=1&cID=&MenuYn=Y&ReportGB=D&NewMenuID=104&stkGb=701&gicode=' + firm_code
    fr_page = requests.get(fr_url)
    fr_tables = pd.read_html(fr_page.text)
    
    temp_df = fr_tables[0]
    temp_df = temp_df.set_index(temp_df.columns[0])
    temp_df = temp_df.loc[['유동비율계산에 참여한 계정 펼치기',
                           '부채비율계산에 참여한 계정 펼치기',
                           '영업이익률계산에 참여한 계정 펼치기',
                           'ROA계산에 참여한 계정 펼치기',
                           'ROIC계산에 참여한 계정 펼치기']]
    temp_df.index = ['유동비율', '부채비율', '영업이익률', 'ROA', 'ROIC']
    return temp_df

In [17]:
firmcode_list = ['A005930', 'A005380', 'A035420', 'A003550', 'A034730']

for num, code in enumerate(firmcode_list) : 
    fr_df = make_fr_dataframe(code)
    fr_df_changed = change_df(code, fr_df)
    if num == 0 :
        total_fr = fr_df_changed
    else : 
        total_fr = pd.concat([total_fr, fr_df_changed])
total_fr

        2015/12                           2016/12                            \
           유동비율   부채비율 영업이익률   ROA   ROIC    유동비율   부채비율 영업이익률   ROA   ROIC
A005930   247.1   35.3  13.2   8.1   18.9   258.5   35.9  14.5   9.0   20.3
A005380   106.2  147.3   6.9   4.2    6.1   109.1  147.2   5.6   3.3    4.4
A035420   156.8   93.3  25.5  13.3  124.2   232.8   54.3  27.4  14.1  199.2
A003550   153.2   36.2  11.4   5.3   33.6   130.7   37.1  13.7   5.8   39.5
A034730   114.8  141.1   3.6  10.9    5.4   113.0  143.5   6.4   2.8    7.8

         ... 2018/12                           2019/09
         ...    유동비율   부채비율 영업이익률   ROA   ROIC    유동비율   부채비율 영업이익률  ROA  ROIC
A005930  ...   252.9   37.0  24.2  13.8   30.4   293.9   34.1  12.1  6.4  13.1
A005380  ...    95.4  144.5   2.5   0.9    1.6    87.1  152.1   3.1  1.7   2.5
A035420  ...   205.6   66.1  16.9   7.0   68.6   164.4   83.4  11.2  2.5  26.1
A003550  ...   151.8   25.7  16.4   8.5  101.7   178.6   17.8  22.1  7.6  70.7
A034730  ...   123.7  134.8   4.6   5.4    6.8   122.4  140.2   4.6  2.5   5.6

[5 rows x 25 columns]

In [18]:
def make_invest_dataframe(firm_code):
    invest_url = 'https://comp.fnguide.com/SVO2/ASP/SVD_Invest.asp?pGB=1&cID=&MenuYn=Y&ReportGB=&NewMenuID=105&stkGb=701&gicode=' + firm_code
    invest_page = requests.get(invest_url)
    invest_tables = pd.read_html(invest_page.text)
    
    temp_df = invest_tables[1]
    temp_df = temp_df.set_index(temp_df.columns[0])
    temp_df = temp_df.loc[['PCR계산에 참여한 계정 펼치기',
                           'PSR계산에 참여한 계정 펼치기',
                           'PBR계산에 참여한 계정 펼치기',
                           '총현금흐름',]]
    temp_df.index = ['PCR', 'PSR', 'PBR', '총현금흐름']
    return temp_df

In [19]:
invest_url = 'https://comp.fnguide.com/SVO2/ASP/SVD_Invest.asp?pGB=1&cID=&MenuYn=Y&ReportGB=&NewMenuID=105&stkGb=701&gicode=' + firm_code
invest_page = requests.get(invest_url)
invest_tables = pd.read_html(invest_page.text)
display(invest_tables)

[  IFRS 연결    2015/12               2016/12               2017/12             \
   IFRS 연결         최고         최저         최고         최저         최고         최저
 0   주가(원)  158224.00   92431.00  180256.00  111358.00  192273.00  144205.00
 1    시가총액  260405.00  152123.00  296664.00  183273.00  316442.00  237331.00
 2     PER      50.27      29.37      39.65      24.49      41.00      30.75
 3     PBR       8.20       4.79       6.00       3.71       5.34       4.00

      2018/12               2019/09
           최고         최저         최고         최저
 0  190270.00  106500.00  159000.00  108500.00
 1  313145.00  175526.00  262053.00  178823.00
 2      48.33      27.05        NaN        NaN
 3       4.80       2.69       3.71       2.53  ,
                           IFRS 연결    2015/12    2016/12    2017/12    2018/12  \
 0                       Per Share  Per Share  Per Share  Per Share  Per Share
 1            EPS계산에 참여한 계정 펼치기(원)       3147       4546       4689       3937
 2       EBITDAPS계산에 참여한 계정 펼치기(원)       5984       7675       8406       7303
 3           CFPS계산에 참여한 계정 펼치기(원)       4094       5535       5941       5521
 4            SPS계산에 참여한 계정 펼치기(원)      19743      24407      28386      33898
 5            BPS계산에 참여한 계정 펼치기(원)      19305      30038      36008      39663
 6                       Dividends  Dividends  Dividends  Dividends  Dividends
 7    DPS(보통주,현금)(원)계산에 참여한 계정 펼치기        220        226        289        314
 8   DPS(1우선주,현금)(원)계산에 참여한 계정 펼치기        NaN        NaN        NaN        NaN
 9       배당성향(현금)(%)계산에 참여한 계정 펼치기       6.19       4.35       5.49       7.07
 10                      Multiples  Multiples  Multiples  Multiples  Multiples
 11              PER계산에 참여한 계정 펼치기      41.87      34.14      37.16      30.99
 12              PCR계산에 참여한 계정 펼치기      32.19      28.04      29.33      22.10
 13              PSR계산에 참여한 계정 펼치기       6.68       6.36       6.14       3.60
 14              PBR계산에 참여한 계정 펼치기       6.83       5.17       4.84       3.08
 15         EV/Sales계산에 참여한 계정 펼치기       6.71       6.48       6.25       3.73
 16        EV/EBITDA계산에 참여한 계정 펼치기      22.14      20.62      21.09      17.29
 17                            FCF        FCF        FCF        FCF        FCF
 18                          총현금흐름       7553       9136       9682       7892
 19                         세후영업이익       5993       7507       7619       5281
 20                       유무형자산상각비       1560       1630       2063       2611
 21                            총투자        668        407       6264       3296
 22                           FCFF       6885       8729       3418       4596

       2019/09
 0   Per Share
 1        2029
 2        3256
 3        2029
 4       29160
 5       42911
 6   Dividends
 7         NaN
 8         NaN
 9         NaN
 10  Multiples
 11        NaN
 12        NaN
 13        NaN
 14       3.66
 15        NaN
 16        NaN
 17        FCF
 18       2277
 19       2277
 20          0
 21       7187
 22      -4909  ]

In [20]:
firmcode_list = ['A005930', 'A005380', 'A035420', 'A003550', 'A034730']

for num, code in enumerate(firmcode_list) : 
    invest_df = make_invest_dataframe(code)
    invest_df_changed = change_df(code, invest_df)
    if num == 0 :
        total_invest = invest_df_changed
    else : 
        total_invest = pd.concat([total_invest, invest_df_changed])
total_invest

        2015/12                     2016/12                     2017/12        \
            PCR   PSR   PBR   총현금흐름     PCR   PSR   PBR   총현금흐름     PCR   PSR
A005930    5.41  1.07  1.15  403232    6.85  1.46  1.48  423491    6.12  1.62
A005380    4.62  0.46  0.67   76862    4.76  0.45  0.61   74241    5.89  0.46
A035420   32.19  6.68  6.83    7553   28.04  6.36  5.17    9136   29.33  6.14
A003550    9.94  1.25  0.96   13084    7.69  1.09  0.76   14278    6.03  1.35
A034730    1.82  0.35  1.27   34769    2.72  0.20  1.16   88583    2.74  0.22

                      2018/12                     2019/09
          PBR   총현금흐름     PCR   PSR   PBR   총현금흐름     PCR  PSR   PBR   총현금흐름
A005930  1.76  623891    4.01  1.16  1.10  691786     NaN  NaN  1.30  358355
A005380  0.63   82152    6.34  0.34  0.47   53366     NaN  NaN  0.52   47855
A035420  4.84    9682   22.10  3.60  3.08    7892     NaN  NaN  3.66    2277
A003550  1.00   21812    6.03  1.03  0.68   20916     NaN  NaN  0.64   11269
A034730  1.38   96487    2.27  0.18  1.05   93608     NaN  NaN  0.76   79491

In [33]:
path = 'C:/Users/elris/Dropbox/Data Scientist/Python/엑셀 데이터/KOSPI200.xlsx'
code_data = pd.read_excel(path)
code_data = code_data[['종목코드', '기업명']]

In [52]:
def make_code(x):
    x = str(x)
    return 'A' + '0' * (6-len(x)) + x

code_data['종목코드'] = code_data['종목코드'].apply(make_code)
display(code_data.head(30))

        종목코드       기업명
0   AA005930      삼성전자
1   AA000660    SK하이닉스
2   AA207940  삼성바이오로직스
3   AA035420     NAVER
4   AA005380       현대차
5   AA051910      LG화학
6   AA012330     현대모비스
7   AA068270      셀트리온
8   AA028260      삼성물산
9   AA006400     삼성SDI
10  AA051900    LG생활건강
11  AA005490     POSCO
12  AA055550      신한지주
13  AA017670     SK텔레콤
14  AA105560      KB금융
15  AA000270       기아차
16  AA034730        SK
17  AA015760      한국전력
18  AA018260   삼성에스디에스
19  AA036570     엔씨소프트
20  AA035720       카카오
21  AA032830      삼성생명
22  AA033780      KT&G
23  AA003550        LG
24  AA096770   SK이노베이션
25  AA090430    아모레퍼시픽
26  AA066570      LG전자
27  AA086790    하나금융지주
28  AA000810      삼성화재
29  AA009150      삼성전기

In [51]:
for num, code in enumerate(code_data['종목코드']) : 
    fs_df = make_fs_dataframe(code)
    fs_df_changed = change_df(code, fs_df)
    if num == 0 :
        total_fs = fs_df_changed
    else : 
        total_fs = pd.concat([total_fs, fs_df_changed])
total_fs.head(30)

C:\Users\elris\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

            2016/12                                                       \
IFRS(연결)        매출액      영업이익     당기순이익         자산         부채         자본
A005930   2018667.0  292407.0  227261.0  2621743.0   692113.0  1929630.0
A000660    171980.0   32767.0   29605.0   322160.0    81925.0   240235.0
A207940      2946.0    -304.0   -1768.0    75330.0    34506.0    40824.0
A035420     40226.0   11020.0    7591.0    63706.0    22410.0    41296.0
A005380    936490.0   51935.0   57197.0  1788359.0  1064914.0   723446.0
A051910    206593.0   19919.0   12810.0   204871.0    64361.0   140510.0
A012330    382617.0   29047.0   30473.0   417116.0   131536.0   285580.0
A068270      6706.0    2497.0    1805.0    30219.0     8230.0    21990.0
A028260    281027.0    1395.0     208.0   444585.0   233528.0   211057.0
A006400     52008.0   -9263.0    2111.0   149003.0    39362.0   109641.0
A051900     60941.0    8809.0    5792.0    45022.0    18813.0    26208.0
A005490    530835.0   28443.0   10482.0   797630.0   339246.0   458384.0
A055550         NaN   31086.0   28249.0  3956803.0  3639353.0   317450.0
A017670    170918.0   15357.0   16601.0   312977.0   151812.0   161164.0
A105560         NaN   16769.0   21902.0  3756737.0  3444123.0   312614.0
A000270    527129.0   24615.0   27546.0   508893.0   243098.0   265794.0
A034730    827299.0   52808.0   28225.0  1030473.0   607206.0   423267.0
A015760    601904.0  120016.0   71483.0  1778370.0  1047865.0   730505.0
A018260     81802.0    6271.0    5143.0    68420.0    15509.0    52911.0
A036570      9836.0    3288.0    2714.0    23608.0     4653.0    18955.0
A035720     14642.0    1161.0     655.0    54841.0    17812.0    37029.0
A032830         NaN    9865.0   21500.0  2646538.0  2363454.0   283084.0
A033780     45033.0   14696.0   12255.0    98121.0    26943.0    71178.0
A003550     96739.0   13227.0   10913.0   194894.0    52694.0   142201.0
A096770    395205.0   32283.0   17214.0   325813.0   142763.0   183050.0
A090430     56454.0    8481.0    6457.0    51816.0    12849.0    38966.0
A066570    553670.0   13378.0    1263.0   378553.0   244985.0   133567.0
A086790         NaN   16141.0   13997.0  3481775.0  3247875.0   233900.0
A000810         NaN   10712.0    8606.0   682175.0   572093.0   110082.0
A009150     60330.0     244.0     229.0    76626.0    33250.0    43376.0

                         2017/12                      ...    2018/12  \
IFRS(연결) 영업활동으로인한현금흐름        매출액      영업이익     당기순이익  ...         부채
A005930      473856.0  2395754.0  536450.0  421867.0  ...   916041.0
A000660       55489.0   301094.0  137213.0  106422.0  ...   168060.0
A207940        -627.0     4646.0     660.0    -970.0  ...    18249.0
A035420       11640.0    46785.0   11792.0    7701.0  ...    39321.0
A005380        9970.0   963761.0   45747.0   45464.0  ...  1067597.0
A051910       25167.0   256980.0   29285.0   20220.0  ...   116220.0
A012330       20178.0   351446.0   20249.0   15577.0  ...   123677.0
A068270        2509.0     9491.0    5078.0    3862.0  ...     9078.0
A028260       13554.0   292790.0    8813.0    4811.0  ...   198577.0
A006400      -13095.0    63466.0    1169.0    6432.0  ...    71245.0
A051900        7134.0    61051.0    9300.0    6183.0  ...    16819.0
A005490       52694.0   606551.0   46218.0   29735.0  ...   314887.0
A055550       37972.0        NaN   38300.0   29492.0  ...  4229491.0
A017670       42432.0   175200.0   15366.0   26576.0  ...   200199.0
A105560       11250.0        NaN   40153.0   33435.0  ...  4438753.0
A000270       32759.0   535357.0    6622.0    9680.0  ...   245431.0
A034730       91107.0   906128.0   57450.0   50665.0  ...   685691.0
A015760      165206.0   598149.0   49532.0   14414.0  ...  1141563.0
A018260        6228.0    92992.0    7316.0    5418.0  ...    18653.0
A036570        1120.0    17587.0    5850.0    4440.0  ...     5623.0
A035720        3173.0    19723.0    1654.0    1251.0  ...    23324.0
A032830       48344.0        NaN   16906.0   12632.0  ...  2589222.0
A033780       14978.0    46672.0   14261.0   11642.0  ...    20220.0
A003550        8782.0   118411.0   21858.0   24356.0  ...    46714.0
A096770       36778.0   461627.0   32218.0   21451.0  ...   167574.0
A090430        6770.0    51238.0    5964.0    3980.0  ...     9247.0
A066570       31580.0   613963.0   24685.0   18695.0  ...   280215.0
A086790       34354.0        NaN   27181.0   21166.0  ...  3579002.0
A000810       16462.0        NaN   12576.0   10553.0  ...   670333.0
A009150        6796.0    68385.0    3062.0    1773.0  ...    36984.0

                                    2019/09                                 \
IFRS(연결)         자본 영업활동으로인한현금흐름        매출액      영업이익     당기순이익         자산
A005930   2477532.0     670319.0  1705161.0  206082.0  165118.0  3533860.0
A000660    468523.0     222272.0   200636.0   24767.0   21346.0   636718.0
A207940     41555.0       -324.0        NaN       NaN       NaN        NaN
A035420     59491.0       9735.0    48060.0    5367.0    2006.0   118067.0
A005380    738960.0      37643.0   779223.0   24411.0   24136.0  1916699.0
A051910    173221.0      21250.0   211638.0    9232.0    4329.0   335308.0
A012330    307034.0      16101.0   276450.0   17249.0   17122.0   455592.0
A068270     26328.0       3821.0     7457.0    2639.0    2029.0    37908.0
A028260    225489.0      16784.0   230636.0    5421.0    6948.0   433479.0
A006400    122252.0       2606.0    72765.0    4421.0    4355.0   197370.0
A051900     35940.0       8171.0    56721.0    9354.0    6544.0    64394.0
A005490    467596.0      58697.0   483238.0   33112.0   19567.0   796191.0
A055550    366514.0     -63202.0        NaN   41375.0   30848.0  5458980.0
A017670    223493.0      43326.0   133331.0    9475.0    9071.0   439838.0
A105560    357130.0     -89576.0        NaN   37176.0   27781.0  5061953.0
A000270    272435.0      44708.0   420405.0   14192.0   14803.0   554270.0
A034730    508879.0      78565.0   756548.0   34551.0   23275.0  1318870.0
A015760    710928.0      66801.0   442317.0    3107.0   -9323.0  1938750.0
A018260     61486.0      11965.0    79369.0    6639.0    4915.0    89872.0
A036570     23790.0       3528.0    11674.0    3378.0    3052.0    32008.0
A035720     56272.0       4915.0    22225.0    1272.0    1000.0    87853.0
A032830    305055.0      19561.0        NaN   12357.0   10333.0  3068654.0
A033780     81331.0       8221.0    37650.0   11297.0    9204.0   106314.0
A003550    181645.0       4949.0    49222.0   10897.0   13038.0   227723.0
A096770    193280.0      17281.0   383247.0   11587.0    5547.0   395202.0
A090430     44464.0       6467.0    42465.0    3819.0    2816.0    59860.0
A066570    163069.0      45416.0   462450.0   23343.0   10297.0   472046.0
A086790    271085.0     -54317.0        NaN   25094.0   20670.0  4201462.0
A000810    123830.0      21262.0        NaN    8171.0    6056.0   852538.0
A009150     49465.0      15587.0    63541.0    5678.0    5492.0    90834.0


IFRS(연결)         부채         자본 영업활동으로인한현금흐름
A005930    899437.0  2634422.0     256658.0
A000660    154055.0   482662.0      38996.0
A207940         NaN        NaN          NaN
A035420     53692.0    64375.0       8184.0
A005380   1156447.0   760252.0      13206.0
A051910    160400.0   174908.0      12849.0
A012330    131098.0   324494.0      25468.0
A068270      9819.0    28089.0       3415.0
A028260    185201.0   248278.0       -259.0
A006400     69814.0   127556.0       7060.0
A051900     22844.0    41550.0       7848.0
A005490    314909.0   481282.0      39403.0
A055550   5042009.0   416971.0      90871.0
A017670    213271.0   226566.0      28382.0
A105560   4674550.0   387403.0      96064.0
A000270    266905.0   287365.0      33445.0
A034730    769759.0   549112.0      59216.0
A015760   1238505.0   700245.0      72318.0
A018260     24314.0    65558.0       6787.0
A036570      7247.0    24761.0       3212.0
A035720     29014.0    58839.0       5432.0
A032830   2692984.0   375671.0      58287.0
A033780     20691.0    85623.0       9588.0
A003550     34374.0   193349.0       7024.0
A096770    196887.0   198315.0      11679.0
A090430     14159.0    45701.0       4960.0
A066570    297536.0   174509.0      25462.0
A086790   3910990.0   290472.0      -3223.0
A000810    707517.0   145021.0       2299.0
A009150     35704.0    55130.0       6148.0

[30 rows x 28 columns]

In [43]:
import time

for num, code in enumerate(code_data['종목코드']):
    try:
        print(num, code)
        time.sleep(1)
        try:
            fs_df = make_fs_dataframe(code)
        except requests.exceptions.Timeout:
            time.sleep(30)
            fs_df = make_fs_dataframe(code)
        fs_df_changed = change_df(code, fs_df)
        if num == 0 :
            total_fs = fs_df_changed
        else:
            total_fs = pd.concat([total_fs, fs_df_changed])
    except ValueError:
        continue
    except KeyError:
        continue

0 A005930
1 A000660
2 A207940
3 A035420
4 A005380
5 A051910
6 A012330
7 A068270
8 A028260
9 A006400
10 A051900
11 A005490
12 A055550

C:\Users\elris\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

13 A017670
14 A105560
15 A000270
16 A034730
17 A015760
18 A018260
19 A036570
20 A035720
21 A032830
22 A033780
23 A003550
24 A096770
25 A090430
26 A066570
27 A086790
28 A000810
29 A009150
30 A010950
31 A009540
32 A251270
33 A316140
34 A010130
35 A011170
36 A030200
37 A021240
38 A024110
39 A002790
40 A035250
41 A032640
42 A018880
43 A086280
44 A034220
45 A006800
46 A267250
47 A078930
48 A029780
49 A000720
50 A010140
51 A271560
52 A004020
53 A004990
54 A071050
55 A011070
56 A161390
57 A097950
58 A012750
59 A008770
60 A128940
61 A028050
62 A023530
63 A000120
64 A005940
65 A016360
66 A139480
67 A007070
68 A241560
69 A036460
70 A005830
71 A047810
72 A000100
73 A282330
74 A000210
75 A009830
76 A042660
77 A081660
78 A004170
79 A003410
80 A030000
81 A001040
82 A006360
83 A020150
84 A008560
85 A003490
86 A138930
87 A000080
88 A008930
89 A011780
90 A028670
91 A047050
92 A011790
93 A001450
94 A069960
95 A007310
96 A002380
97 A047040
98 A088350
99 A012450
100 A051600
101 A010620
102 A017800
103 A000880
104 A009240
105 A204320
106 A026960
107 A010120
108 A004800
109 A006280
110 A031430
111 A214320
112 A069620
113 A004370
114 A009420
115 A010060
116 A111770
117 A006260
118 A014680
119 A000990
120 A001740
121 A011210
122 A064350
123 A000240
124 A114090
125 A120110
126 A000670
127 A034020
128 A073240
129 A000150
130 A003240
131 A042670
132 A004000
133 A003520
134 A294870
135 A185750
136 A005440
137 A161890
138 A005250
139 A001800
140 A005300
141 A057050
142 A010780
143 A003000
144 A005850
145 A049770
146 A170900
147 A069260
148 A093370
149 A018250
150 A002350
151 A115390
152 A192400
153 A052690
154 A008060
155 A001680
156 A285130
157 A192820
158 A020000
159 A005610
160 A014820
161 A006650
162 A079550
163 A071840
164 A003850
165 A105630
166 A012630
167 A001060
168 A103140
169 A079160
170 A000640
171 A064960
172 A005180
173 A027410
174 A001120
175 A000070
176 A019680
177 A006390
178 A001430
179 A004490
180 A001230
181 A007570
182 A093050
183 A006120
184 A145990
185 A060980
186 A108670
187 A002270
188 A025540
189 A006840
190 A002960
191 A025860
192 A014830
193 A096760
194 A002240
195 A003620
196 A003920
197 A001520
198 A079430
199 A298040

In [44]:
total_fs.head(20)

            2016/12                                                       \
IFRS(연결)        매출액      영업이익     당기순이익         자산         부채         자본
A005930   2018667.0  292407.0  227261.0  2621743.0   692113.0  1929630.0
A000660    171980.0   32767.0   29605.0   322160.0    81925.0   240235.0
A207940      2946.0    -304.0   -1768.0    75330.0    34506.0    40824.0
A035420     40226.0   11020.0    7591.0    63706.0    22410.0    41296.0
A005380    936490.0   51935.0   57197.0  1788359.0  1064914.0   723446.0
A051910    206593.0   19919.0   12810.0   204871.0    64361.0   140510.0
A012330    382617.0   29047.0   30473.0   417116.0   131536.0   285580.0
A068270      6706.0    2497.0    1805.0    30219.0     8230.0    21990.0
A028260    281027.0    1395.0     208.0   444585.0   233528.0   211057.0
A006400     52008.0   -9263.0    2111.0   149003.0    39362.0   109641.0
A051900     60941.0    8809.0    5792.0    45022.0    18813.0    26208.0
A005490    530835.0   28443.0   10482.0   797630.0   339246.0   458384.0
A055550         NaN   31086.0   28249.0  3956803.0  3639353.0   317450.0
A017670    170918.0   15357.0   16601.0   312977.0   151812.0   161164.0
A105560         NaN   16769.0   21902.0  3756737.0  3444123.0   312614.0
A000270    527129.0   24615.0   27546.0   508893.0   243098.0   265794.0
A034730    827299.0   52808.0   28225.0  1030473.0   607206.0   423267.0
A015760    601904.0  120016.0   71483.0  1778370.0  1047865.0   730505.0
A018260     81802.0    6271.0    5143.0    68420.0    15509.0    52911.0
A036570      9836.0    3288.0    2714.0    23608.0     4653.0    18955.0

                         2017/12                      ...    2018/12  \
IFRS(연결) 영업활동으로인한현금흐름        매출액      영업이익     당기순이익  ...         부채
A005930      473856.0  2395754.0  536450.0  421867.0  ...   916041.0
A000660       55489.0   301094.0  137213.0  106422.0  ...   168060.0
A207940        -627.0     4646.0     660.0    -970.0  ...    18249.0
A035420       11640.0    46785.0   11792.0    7701.0  ...    39321.0
A005380        9970.0   963761.0   45747.0   45464.0  ...  1067597.0
A051910       25167.0   256980.0   29285.0   20220.0  ...   116220.0
A012330       20178.0   351446.0   20249.0   15577.0  ...   123677.0
A068270        2509.0     9491.0    5078.0    3862.0  ...     9078.0
A028260       13554.0   292790.0    8813.0    4811.0  ...   198577.0
A006400      -13095.0    63466.0    1169.0    6432.0  ...    71245.0
A051900        7134.0    61051.0    9300.0    6183.0  ...    16819.0
A005490       52694.0   606551.0   46218.0   29735.0  ...   314887.0
A055550       37972.0        NaN   38300.0   29492.0  ...  4229491.0
A017670       42432.0   175200.0   15366.0   26576.0  ...   200199.0
A105560       11250.0        NaN   40153.0   33435.0  ...  4438753.0
A000270       32759.0   535357.0    6622.0    9680.0  ...   245431.0
A034730       91107.0   906128.0   57450.0   50665.0  ...   685691.0
A015760      165206.0   598149.0   49532.0   14414.0  ...  1141563.0
A018260        6228.0    92992.0    7316.0    5418.0  ...    18653.0
A036570        1120.0    17587.0    5850.0    4440.0  ...     5623.0

                                    2019/09                                 \
IFRS(연결)         자본 영업활동으로인한현금흐름        매출액      영업이익     당기순이익         자산
A005930   2477532.0     670319.0  1705161.0  206082.0  165118.0  3533860.0
A000660    468523.0     222272.0   200636.0   24767.0   21346.0   636718.0
A207940     41555.0       -324.0        NaN       NaN       NaN        NaN
A035420     59491.0       9735.0    48060.0    5367.0    2006.0   118067.0
A005380    738960.0      37643.0   779223.0   24411.0   24136.0  1916699.0
A051910    173221.0      21250.0   211638.0    9232.0    4329.0   335308.0
A012330    307034.0      16101.0   276450.0   17249.0   17122.0   455592.0
A068270     26328.0       3821.0     7457.0    2639.0    2029.0    37908.0
A028260    225489.0      16784.0   230636.0    5421.0    6948.0   433479.0
A006400    122252.0       2606.0    72765.0    4421.0    4355.0   197370.0
A051900     35940.0       8171.0    56721.0    9354.0    6544.0    64394.0
A005490    467596.0      58697.0   483238.0   33112.0   19567.0   796191.0
A055550    366514.0     -63202.0        NaN   41375.0   30848.0  5458980.0
A017670    223493.0      43326.0   133331.0    9475.0    9071.0   439838.0
A105560    357130.0     -89576.0        NaN   37176.0   27781.0  5061953.0
A000270    272435.0      44708.0   420405.0   14192.0   14803.0   554270.0
A034730    508879.0      78565.0   756548.0   34551.0   23275.0  1318870.0
A015760    710928.0      66801.0   442317.0    3107.0   -9323.0  1938750.0
A018260     61486.0      11965.0    79369.0    6639.0    4915.0    89872.0
A036570     23790.0       3528.0    11674.0    3378.0    3052.0    32008.0


IFRS(연결)         부채         자본 영업활동으로인한현금흐름
A005930    899437.0  2634422.0     256658.0
A000660    154055.0   482662.0      38996.0
A207940         NaN        NaN          NaN
A035420     53692.0    64375.0       8184.0
A005380   1156447.0   760252.0      13206.0
A051910    160400.0   174908.0      12849.0
A012330    131098.0   324494.0      25468.0
A068270      9819.0    28089.0       3415.0
A028260    185201.0   248278.0       -259.0
A006400     69814.0   127556.0       7060.0
A051900     22844.0    41550.0       7848.0
A005490    314909.0   481282.0      39403.0
A055550   5042009.0   416971.0      90871.0
A017670    213271.0   226566.0      28382.0
A105560   4674550.0   387403.0      96064.0
A000270    266905.0   287365.0      33445.0
A034730    769759.0   549112.0      59216.0
A015760   1238505.0   700245.0      72318.0
A018260     24314.0    65558.0       6787.0
A036570      7247.0    24761.0       3212.0

[20 rows x 28 columns]

In [45]:
total_fs.to_excel('C:/Users/elris/Dropbox/Data Scientist/Python/엑셀 데이터/재무제표데이터.xlsx')

In [46]:
for num, code in enumerate(code_data['종목코드']) : 
    try : 
        print(num, code)
        time.sleep(1)
        try : 
            fr_df = make_fr_dataframe(code)
        except requests.exceptions.Timeout : 
            time.sleept(30)
            fr_df = make_fr_dataframe(code)
        fr_df_changed = change_df(code, fr_df)
        if num == 0 :
            total_fr = fr_df_changed
        else : 
            total_fr = pd.concat([total_fr, fr_df_changed])
    except ValueError:
        continue
    except KeyError:
        continue

0 A005930
1 A000660
2 A207940
3 A035420
4 A005380
5 A051910
6 A012330
7 A068270
8 A028260
9 A006400
10 A051900
11 A005490
12 A055550

C:\Users\elris\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if sys.path[0] == '':

13 A017670
14 A105560
15 A000270
16 A034730
17 A015760
18 A018260
19 A036570
20 A035720
21 A032830
22 A033780
23 A003550
24 A096770
25 A090430
26 A066570
27 A086790
28 A000810
29 A009150
30 A010950
31 A009540
32 A251270
33 A316140
34 A010130
35 A011170
36 A030200
37 A021240
38 A024110
39 A002790
40 A035250
41 A032640
42 A018880
43 A086280
44 A034220
45 A006800
46 A267250
47 A078930
48 A029780
49 A000720
50 A010140
51 A271560
52 A004020
53 A004990
54 A071050
55 A011070
56 A161390
57 A097950
58 A012750
59 A008770
60 A128940
61 A028050
62 A023530
63 A000120
64 A005940
65 A016360
66 A139480
67 A007070
68 A241560
69 A036460
70 A005830
71 A047810
72 A000100
73 A282330
74 A000210
75 A009830
76 A042660
77 A081660
78 A004170
79 A003410
80 A030000
81 A001040
82 A006360
83 A020150
84 A008560
85 A003490
86 A138930
87 A000080
88 A008930
89 A011780
90 A028670
91 A047050
92 A011790
93 A001450
94 A069960
95 A007310
96 A002380
97 A047040
98 A088350
99 A012450
100 A051600
101 A010620
102 A017800
103 A000880
104 A009240
105 A204320
106 A026960
107 A010120
108 A004800
109 A006280
110 A031430
111 A214320
112 A069620
113 A004370
114 A009420
115 A010060
116 A111770
117 A006260
118 A014680
119 A000990
120 A001740
121 A011210
122 A064350
123 A000240
124 A114090
125 A120110
126 A000670
127 A034020
128 A073240
129 A000150
130 A003240
131 A042670
132 A004000
133 A003520
134 A294870
135 A185750
136 A005440
137 A161890
138 A005250
139 A001800
140 A005300
141 A057050
142 A010780
143 A003000
144 A005850
145 A049770
146 A170900
147 A069260
148 A093370
149 A018250
150 A002350
151 A115390
152 A192400
153 A052690
154 A008060
155 A001680
156 A285130
157 A192820
158 A020000
159 A005610
160 A014820
161 A006650
162 A079550
163 A071840
164 A003850
165 A105630
166 A012630
167 A001060
168 A103140
169 A079160
170 A000640
171 A064960
172 A005180
173 A027410
174 A001120
175 A000070
176 A019680
177 A006390
178 A001430
179 A004490
180 A001230
181 A007570
182 A093050
183 A006120
184 A145990
185 A060980
186 A108670
187 A002270
188 A025540
189 A006840
190 A002960
191 A025860
192 A014830
193 A096760
194 A002240
195 A003620
196 A003920
197 A001520
198 A079430
199 A298040

In [47]:
total_fr.to_excel('C:/Users/elris/Dropbox/Data Scientist/Python/엑셀 데이터/재무비율데이터.xlsx')

In [49]:
for num, code in enumerate(code_data['종목코드']) : 
    try : 
        print(num, code)
        time.sleep(1)
        try : 
            invest_df = make_invest_dataframe(code)
        except requests.exceptions.Timeout : 
            time.sleept(30)
            invest_df = make_invest_dataframe(code)
        invest_df_changed = change_df(code, invest_df)
        if num == 0 :
            total_invest = invest_df_changed
        else : 
            total_invest = pd.concat([total_invest, invest_df_changed])
    except ValueError:
        continue
    except KeyError:
        continue

0 A005930
1 A000660
2 A207940
3 A035420
4 A005380
5 A051910
6 A012330
7 A068270
8 A028260
9 A006400
10 A051900
11 A005490
12 A055550

C:\Users\elris\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  # This is added back by InteractiveShellApp.init_path()

13 A017670
14 A105560
15 A000270
16 A034730
17 A015760
18 A018260
19 A036570
20 A035720
21 A032830
22 A033780
23 A003550
24 A096770
25 A090430
26 A066570
27 A086790
28 A000810
29 A009150
30 A010950
31 A009540
32 A251270
33 A316140
34 A010130
35 A011170
36 A030200
37 A021240
38 A024110
39 A002790
40 A035250
41 A032640
42 A018880
43 A086280
44 A034220
45 A006800
46 A267250
47 A078930
48 A029780
49 A000720
50 A010140
51 A271560
52 A004020
53 A004990
54 A071050
55 A011070
56 A161390
57 A097950
58 A012750
59 A008770
60 A128940
61 A028050
62 A023530
63 A000120
64 A005940
65 A016360
66 A139480
67 A007070
68 A241560
69 A036460
70 A005830
71 A047810
72 A000100
73 A282330
74 A000210
75 A009830
76 A042660
77 A081660
78 A004170
79 A003410
80 A030000
81 A001040
82 A006360
83 A020150
84 A008560
85 A003490
86 A138930
87 A000080
88 A008930
89 A011780
90 A028670
91 A047050
92 A011790
93 A001450
94 A069960
95 A007310
96 A002380
97 A047040
98 A088350
99 A012450
100 A051600
101 A010620
102 A017800
103 A000880
104 A009240
105 A204320
106 A026960
107 A010120
108 A004800
109 A006280
110 A031430
111 A214320
112 A069620
113 A004370
114 A009420
115 A010060
116 A111770
117 A006260
118 A014680
119 A000990
120 A001740
121 A011210
122 A064350
123 A000240
124 A114090
125 A120110
126 A000670
127 A034020
128 A073240
129 A000150
130 A003240
131 A042670
132 A004000
133 A003520
134 A294870
135 A185750
136 A005440
137 A161890
138 A005250
139 A001800
140 A005300
141 A057050
142 A010780
143 A003000
144 A005850
145 A049770
146 A170900
147 A069260
148 A093370
149 A018250
150 A002350
151 A115390
152 A192400
153 A052690
154 A008060
155 A001680
156 A285130
157 A192820
158 A020000
159 A005610
160 A014820
161 A006650
162 A079550
163 A071840
164 A003850
165 A105630
166 A012630
167 A001060
168 A103140
169 A079160
170 A000640
171 A064960
172 A005180
173 A027410
174 A001120
175 A000070
176 A019680
177 A006390
178 A001430
179 A004490
180 A001230
181 A007570
182 A093050
183 A006120
184 A145990
185 A060980
186 A108670
187 A002270
188 A025540
189 A006840
190 A002960
191 A025860
192 A014830
193 A096760
194 A002240
195 A003620
196 A003920
197 A001520
198 A079430
199 A298040

In [50]:
total_fr.to_excel('C:/Users/elris/Dropbox/Data Scientist/Python/엑셀 데이터/투자지표데이터.xlsx')